<meta charset="UTF-8">
<script src="https://unpkg.com/vue@2"></script>

<div id="app">
    <!-- Caso não queiramos uma div extra na DOM, podemos utilizar o "template" (do próprio HTML). -->
    <template v-if="logado">
        <p >Usuário Logado: {{ nome }}</p>
        <p>Perfil: Admin</p>
    </template>

    <p v-else-if="anonimo">Navegando como Anônimo</p>
    <p v-else>Nenhum usuário logado</p>
    <!-- Obs.: o "v-else" deve estar logo após o "v-if" para funcionar. -->
    <button @click="logado = !logado">{{ logado ? "Sair" : "Entrar"}}</button>
    <input type="checkbox" v-model="anonimo">
    <hr>

    <!-- v-show não remove da DOM, apenas esconde com css. Economiza recursos em relação ao "v-if". -->
    <footer v-show="logado">
        Desenvolvido para usuário LOGADO!
    </footer>
    <footer v-show="!logado">
        Desenvolvido para usuário DESLOGADO!
    </footer>
</div>

<script>
    new Vue({
        el: "#app",
        data: {
            nome: "Augusto",
            logado: false,
            anonimo: true
        }
    })
</script>