<meta charset="UTF-8">
<script src="https://unpkg.com/vue@2"></script>

<style>
    .lista {
        list-style: none;
    }
</style>

<div id="app">
    <!-- Primeira variável é sempre o identificador do elemento.  -->
    <!-- Segunda variável é sempre o indetificador do indice. -->
    <ul class="lista">
        <li v-for="(cor, index) in cores">{{ index + 1 }} - {{ cor }}</li>
    </ul>

    <template v-for="(cor, i) in cores">
        <h1>{{ cor }}</h1>
        <p>{{ i }}</p>
    </template>
    <hr>

    <ul>
        <li v-for="pessoa in pessoas">
            <div v-for="(valor, chave, index) in pessoa">{{ chave }} = {{ valor }} ({{ index }})</div>
        </li>
    </ul>
    <hr>

    <p v-for="n in 10">{{ n }}</p>
</div>

<script>
    new Vue({
        el: "#app",
        data: {
            cores: ["red", "green", "yellow", "blue"],
            pessoas: [
                { nome: "Augusto", idade: 29, peso: 73},
                { nome: "Ana", idade: 23, peso: 58}
            ]
        }
    })
</script>